<div>
{{input type="text" id="new-agent" placeholder="new agent"
              value=agentName action="createAgent"}}
</div>
{{#each}}
  {{link-to name 'agents.show' this}}
  {{events.firstObject.direction}}
  {{events.firstObject.action}}
  {{events.firstObject.humanDate}}
{{#if events.firstObject}}
  <button {{action "removeEvent" events.firstObject}}>✓Done!</button>
{{/if}}
<br/>
{{/each}}
