<h3>Agents</h3>
<div>
{{input type="text" id="new-agent" placeholder="new agent"
              value=agentName action="createAgent" classNames="form-control"}}
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Next Action</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{link-to name 'agents.show' this}}</td>
        <td>{{events.firstObject.direction}}</td>
        <td>{{events.firstObject.action}}</td>
        <td>{{events.firstObject.humanDate}}</td>
        <td>
          {{#if events.firstObject}}
            <button {{action "removeEvent" events.firstObject}}>✓Done!</button>
          {{/if}}
        </td>
      </tr>
   {{/each}}
  </tbody>
</table>
