<h4>{{name}}</h4>
<div class="row">
  <div class="col-xs-8">
    {{textarea id="new-note" placeholder="quick note:" value=message}}
    <button {{action 'createNote'}}>Create</button>
    {{#each note in notes}}
      <p>{{note.message}}</p>
    {{/each}}
  </div>
  <div class="col-xs-4">
    {{edit-event agent=model}}
  </div>
</div>
